@import "../node_modules/@riophae/vue-treeselect/dist/vue-treeselect";

.noDataMessage {
    width: 60%;
    position: absolute;
    border: 1px solid #adb5bd;
    bottom: 50%;
    left: 25%;
    background: #fff;
    margin: auto;
}